html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(5, 8, 22, 1);
}

h1{
  font-family: "Monotype Corsiva", cursive;
}

h1 a {
  border: none;
  padding: 10px;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding-right: 1rem;;
}

nav li{
  list-style: none;
}

nav a{
  border: none;
  padding: 10px;
}



.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 1252px) {
  .menu-toggle {
    display: inline-block;
    margin-left: auto;
  }

  header{
    justify-content: space-between;
    align-content: flex-end;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 10;
    right: 0;
    padding: 1rem;
    margin-top: 30px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    background: linear-gradient(to right, #000, #333);
  }

  header nav ul.show {
    display: flex;
  }
  
}

body::before {
  animation: pulseGrid 8s infinite alternate;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
  background-color: rgb(74, 76, 84);
  position: relative;
}

@keyframes pulseGrid {
  from { opacity: 0.08; }
  to { opacity: 0.15; }
}

#home {
padding-top: 10px;
}

#self-protrait{
    position: block;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
  position: relative;
  z-index: 1;
  max-width: 60%;
  margin: 0 auto;
}

h1,h3, #heading{
  color: #0ff
}

h2 {
  font-size: 2rem;
  color: rgb(157, 19, 216);
  text-shadow: 0 0 8px rgba(179, 0, 255, 0.6);
  margin-bottom: 20px;
}

a, button {
  color: #0ff;
  background: transparent;
  border: 1px solid #0ff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

a:hover:not(#home-link), button:hover {
  background: #0ff;
  color: #111;
  box-shadow: 0 0 15px #0ff;
}


.projects-container{
    display: flex;
}

.projectsItem{
    border: 1px solid black;
    height: 300px;
    flex: 1;
    gap: 20px;
}

.resume-container{
    border: 2px solid black;
    background-color: #333232;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}