html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(5, 8, 22, 1);
}

h1{
  font-family: "Monotype Corsiva", cursive;
  flex: 1 1 100px;
  margin-left: 5rem;
}

h1 a {
  border: none;
  padding: 10px;
}

nav ul{
  display: flex;
  flex: 1 1 500px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 1rem;
  margin-right: 5rem;;
}

nav li{
  list-style: none;
}

nav a{
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 1100px) {
  .menu-toggle {
    display: inline-block;
    margin-left: auto;
  }

  header{
    justify-content: space-between;
    align-content: flex-end;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 10;
    right: 0;
    padding: 1rem;
    margin-top: 30px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    background: linear-gradient(to right, #000, #333);
  }

  header nav ul.show {
    display: flex;
  }
  
}

body::before {
  animation: pulseGrid 8s infinite alternate;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
  background-color: rgba(5, 8, 22, 1);
  position: relative;
}

@keyframes pulseGrid {
  from { opacity: 0.08; }
  to { opacity: 0.15; }
}

#home {
padding-top: 10px;
}

section {
  position: relative;
  z-index: 1;
  max-width: 80%;
  margin: 0 auto;
}

h1,h3, #heading{
  color: #0ff;
  text-align: left;
}

#home p{
  width: 50%;
  font-size: 2rem;;
}

h2 {
  font-size: 3.5rem;
  color: rgb(157, 19, 216);
  text-shadow: 0 0 8px rgba(179, 0, 255, 0.6);
  margin: 50px 0px;
  text-align: center;
}

a, button {
  color: #0ff;
  background: transparent;
  border: 1px solid #0ff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

a:hover:not(#home-link), button:hover {
  background: #0ff;
  color: #111;
  box-shadow: 0 0 15px #0ff;
}

.about-divider{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;
}

.about-img-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 1 300px;
}

.links-cointainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}


.about-links{
  font-size: medium;
  text-align: center;
  padding: 5px 5px;
  flex: 1 1 45%;
  max-width: 45%; 
}

.about-info{
  flex: 1 1 500px;
  text-align: left;
  min-width: 200px;
  align-items: center;
  align-content: center;
  margin-top: 0;
}

.about-info ul{
  padding: 0 10px;
  margin: 0 10px;
}

.about-info li{
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 1.2rem;
}

#self-protrait{
    position: block;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 50px rgba(157, 19, 216, 1);
}

footer{
  text-align: center;
}


/***********************Rain Effect*******************************/
#rain {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.drop {
  position: fixed;
  width: 2px;
  height: 15px;
  background: cyan;
  opacity: 0.6;
  border-radius: 2px;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}